@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Public+Sans&family=Ubuntu&display=swap');

html, body{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-image: url(https://wallpaperaccess.com/full/17520.jpg);
    background-position: center;
    background-size: 100%;
    background-attachment: fixed;
    background-size: 2000px;
}

.Titulo{
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    color: #ebe7e7;
    margin-top: 5%;
    font-weight: 550;
    font-family: 'Fredoka', sans-serif;
    user-select: none;
}

.Container{
    display: flex;
    width: 100%;
    min-width: 400px;
    height: 430px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    justify-content: center;
}

.Card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    overflow: hidden; /*con esto la imagen queda redondeada en los bordes de arriba como en la parte de abajo, otra alternativa era usar los mismos valores de border radius en la imagen con border-top-left(o right)-radius*/
    margin: 20px;
    text-align: center;
    background-color: #c5c5c5;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.418);
    transition: transform .4s;
}

.Card__image{
    width: 100%;
    height: 50%; /*en lugar de darle valores en pixeles para mantenerlas responsive*/
    filter: brightness(.5) grayscale(.6);
}

h4{
    font-family: 'Public Sans', sans-serif;
}

p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Public Sans', sans-serif;
}

.Card:hover{
    transform: translateY(-1.5em);
}

@media screen and (max-width: 800px){
    body{
        background-position: left;
    }

}